<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="spotify.css" />
    </head>   
    <body>
        <header>
            <div class="container">
                <div class="logo">                    
                    <img src="logo.png" alt="Spotify">
                </div>
                <ul class="navbar">
                    <li class="navitem item1"><a>Premium</a></li>
                    <li class="navitem item2"><a>Ajuda</a></li>
                    <li class="navitem item3"><a>Baixar</a></li>                    
                    <li class="navitem item4"><a href="sair">Sair</a></li>
                </ul>
                <button class="navbar-toggle" type="button" data-toggle="sidepanel">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="nav">
                        <li class="dropdown">
                            <a>
                                <img class="perfil-img" src="perfil.png">
                            </a>
                        </li>
                    </div>                                 
            </div>
        </header>
        <div class="background">
            <div class="fundo-submenu">
                <div class="submenu">
                    <a href="index.html">
                            <use xlink:href="#icon-home">
                                <svg class="icon-home" viewBox="0 0 1024 1024">                                
                                    <path class="path1" d="M635.273 895.937v-254.109q0-26.218-18.655-44.872t-44.872-18.655h-127.055q-26.218 0-44.872 18.655t-18.655 44.872v254.109h-190.582v-380.66l-63.527 45.377v335.283q0 26.218 18.655 44.872t44.872 18.655h635.273q26.218 0 44.872-18.655t18.655-44.872v-335.283l-63.527-45.377v380.66h-190.582zM582.838 138.147q-20.672-14.621-47.645-19.915t-53.948 0-47.645 19.915l-393.264 280.831q-13.109 9.58-15.882 25.713t6.806 29.495 25.713 16.134 29.747-6.806l392.76-280.831q11.092-7.563 28.739-7.563t28.739 7.563l392.76 280.831q10.588 7.563 23.193 7.563 20.672 0 32.268-16.638 9.58-13.613 6.806-29.747t-15.882-25.713l-393.264-280.831z"></path>
                                </svg>
                            </use>    
                            Visão Geral Da Conta
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#chevron-down">
                                <svg class="chevron-down" viewBox="0 0 1024 1024">
                                    <path class="path1" d="M476.455 806.696l-381.164-381.164q-14.621-14.621-14.621-35.293t14.621-34.789 35.293-14.117 34.789 14.117l342.846 343.35 349.4-349.4q14.621-14.117 35.293-14.117t34.789 14.117 14.117 34.789-14.117 34.789l-381.164 381.164q-19.159 19.159-38.318 19.159t-31.764-12.605z"></path>
                                </svg>
                            </use>
                    </a>
                </div>
            </div>
            <div class="banner">
                <div class="conteudo">
                    <div class="row">
                            <div class="texto">
                                <h2 class="titulo">Olá!</h2>
                                <p>                            
                                    Quer editar seu perfil? Encontrar uma playlist antiga? 
                                    Descansar um pouco do trabalho? Você pode fazer tudo isso aqui.                    
                                </p>
                            </div>
            
                            <div class="imagem">
                                <img src="iphone.png" alt="Iphone">
                            </div>                            
                    </div>
                </div>
            </div>
            <div class="principal">
                <div class="menu">
                    <img src="perfil.png" alt="Perfil">
                    <ul class="navbar-inverse">                        
                        <li class="active">                                                   
                            <a href="index.html">
                                <use xlink:href="#icon-home">
                                    <svg class="icon-home" viewBox="0 0 1024 1024">                                
                                        <path class="path1" d="M635.273 895.937v-254.109q0-26.218-18.655-44.872t-44.872-18.655h-127.055q-26.218 0-44.872 18.655t-18.655 44.872v254.109h-190.582v-380.66l-63.527 45.377v335.283q0 26.218 18.655 44.872t44.872 18.655h635.273q26.218 0 44.872-18.655t18.655-44.872v-335.283l-63.527-45.377v380.66h-190.582zM582.838 138.147q-20.672-14.621-47.645-19.915t-53.948 0-47.645 19.915l-393.264 280.831q-13.109 9.58-15.882 25.713t6.806 29.495 25.713 16.134 29.747-6.806l392.76-280.831q11.092-7.563 28.739-7.563t28.739 7.563l392.76 280.831q10.588 7.563 23.193 7.563 20.672 0 32.268-16.638 9.58-13.613 6.806-29.747t-15.882-25.713l-393.264-280.831z"></path>
                                    </svg>
                                </use>    
                                Visão geral da conta
                            </a>
                        </li>
                        <li class="assinatura">                            
                            <a href="pesquisa">
                                <use xlink:href="#icon-payment">
                                    <svg class="icon-payment" viewBox="0 0 1024 1024">                                
                                        <path class="path1" d="M139.659 768.882h737.119q31.259 0 53.696-22.436t22.436-53.696v-241.505h-889.383v241.505q0 31.259 22.436 53.696t53.696 22.436zM730.564 578.3h63.527q13.109 0 22.436 9.327t9.327 22.436v63.527q0 13.109-9.327 22.436t-22.436 9.327h-63.527q-13.109 0-22.436-9.327t-9.327-22.436v-63.527q0-13.109 9.327-22.436t22.436-9.327zM139.659 197.136q-31.259 0-53.696 22.436t-22.436 53.696v50.923h889.383v-50.923q0-31.259-22.436-53.696t-53.696-22.436h-737.119z"></path>
                                    </svg>
                                </use>         
                                Pesquisa
                            </a>
                        </li> 
                        <li class="editar">
                            <a href="postagem">                              
                                <use xlink:href="#icon-edit">
                                    <svg class="icon-edit" viewBox="0 0 1024 1024">                                
                                        <path class="path1" d="M751.236 461.329q-28.234 28.234-75.628 20.167t-86.72-47.393-47.393-86.72 20.167-75.628l-0.504-0.504-325.704 325.704q-18.655 18.655-38.57 49.158t-29.999 54.704l-79.661 199.657q-3.529 9.075-4.286 16.638t1.26 12.605 6.806 7.815 11.344 2.773q9.075 0 20.167-4.538l199.657-79.661q16.134-6.554 35.797-17.899t37.814-24.957 30.251-25.713l325.704-325.704-0.504-0.504zM149.239 873.753l62.015-155.289q8.067-19.663 25.461-46.133t32.52-41.595l31.259-31.259q10.588 43.36 45.125 77.897t77.897 45.125l-31.259 31.259q-15.126 15.126-41.595 32.52t-46.133 25.461l-155.289 62.015zM908.037 114.954q-23.697-23.697-51.679-36.301t-54.2-12.605q-34.789 0-56.469 21.68l-0.504-0.504-115.963 115.963v0.504q-27.73 28.234-19.663 75.628t47.393 86.72 86.72 47.393 75.628-20.167l0.504 0.504 115.963-115.963-0.504-0.504q9.075-9.075 14.621-21.428t6.806-25.713-1.26-28.234-8.571-29.747-16.134-29.495-22.688-27.73zM802.159 97.812q13.613 0 28.234 4.79t28.739 13.613 26.218 21.428q32.268 31.764 38.822 69.578 0.504 5.042 0.756 10.336t-0.504 12.1-3.529 13.361-7.815 11.596q-12.1 12.1-34.285 12.1-20.167 0-42.352-10.336t-40.839-28.991q-19.159-19.159-29.747-42.099t-10.084-43.108 12.605-32.268 33.78-12.1z"></path>
                                    </svg>
                                </use> 
                                Administrador
                            </a>
                        </li> 
                        <li class="senha">
                            <a href="index.html">
                                <use xlink:href="#icon-locked">
                                    <svg class="icon-locked" viewBox="0 0 1024 1024">                                
                                        <path class="path1" d="M762.328 378.139q0-49.41-19.411-94.787t-51.931-78.149-77.392-52.183-94.283-19.411h-22.184q-28.234 0-55.46 6.302t-51.175 18.403-45.125 28.739-37.814 37.814-28.739 45.125-18.403 51.175-6.302 55.46v74.619q-26.722 3.529-45.125 23.949t-18.403 47.645v298.478q0 19.663 9.832 36.553t26.722 26.722 36.553 9.832h489.060q19.663 0 36.553-9.832t26.722-26.722 9.832-36.553v-296.965q0-18.151-8.571-33.78t-23.193-25.461-31.764-12.353v-74.619zM519.311 197.136q36.301 0 69.578 14.369t57.225 38.318 38.318 57.225 14.369 69.578v74.619h-381.164v-74.619q0-36.301 14.369-69.578t38.318-57.225 57.225-38.318 69.578-14.369h22.184z"></path>
                                    </svg>
                                </use> 
                                Mudar senha
                            </a>
                        </li> 
                        <li class="notificacoes">
                            <a href="index.html"> 
                                <use xlink:href="#icon-notifications">
                                    <svg class="icon-notifications" viewBox="0 0 1024 1024">                                
                                        <path class="path1" d="M508.219 1022.992q35.797 0 65.544-18.403t46.385-49.158q-27.226 2.017-55.208 3.025t-56.721 1.008q-56.973 0-111.929-4.033 16.638 30.755 46.385 49.158t65.544 18.403zM828.88 406.877q-3.025-33.78-14.117-66.3t-28.991-60.754-41.343-52.435-51.679-43.108-59.494-30.503q1.008-6.554 1.513-11.092t0.504-9.075q0-52.435-37.31-89.745t-89.745-37.31-89.745 37.31-37.31 89.745q0 7.059 2.017 20.167-79.661 30.755-133.861 99.577t-61.763 153.524l-25.209 282.344q-23.193 8.067-41.343 17.394t-31.007 19.159-19.663 20.924-6.806 22.184q0 34.285 59.494 63.779t161.843 46.385 223.354 16.89 223.354-16.89 161.843-46.385 59.494-63.779q0-15.126-11.848-29.243t-33.78-26.722-53.192-23.697l-25.209-282.344zM508.219 53.948q32.772 0 56.217 23.445t23.445 56.217q0 1.008-0.504 2.017t-0.756 2.017-0.252 1.513q-28.234-5.546-56.469-5.546h-43.36q-28.234 0-56.469 6.050 0-1.008-0.756-3.025t-0.756-3.025q0-16.134 6.302-30.755t17.142-25.461 25.461-17.142 30.755-6.302z"></path>
                                    </svg>
                                </use>
                                Configurar notificações
                            </a>
                        </li> 
                        <li class="privacidade">
                            <a href="index.html">
                                <use xlink:href="#icon-locked">
                                    <svg class="icon-locked" viewBox="0 0 1024 1024">                                
                                        <path class="path1" d="M762.328 378.139q0-49.41-19.411-94.787t-51.931-78.149-77.392-52.183-94.283-19.411h-22.184q-28.234 0-55.46 6.302t-51.175 18.403-45.125 28.739-37.814 37.814-28.739 45.125-18.403 51.175-6.302 55.46v74.619q-26.722 3.529-45.125 23.949t-18.403 47.645v298.478q0 19.663 9.832 36.553t26.722 26.722 36.553 9.832h489.060q19.663 0 36.553-9.832t26.722-26.722 9.832-36.553v-296.965q0-18.151-8.571-33.78t-23.193-25.461-31.764-12.353v-74.619zM519.311 197.136q36.301 0 69.578 14.369t57.225 38.318 38.318 57.225 14.369 69.578v74.619h-381.164v-74.619q0-36.301 14.369-69.578t38.318-57.225 57.225-38.318 69.578-14.369h22.184z"></path>
                                    </svg>
                                </use> 
                                Configurações de privacidade
                            </a>
                        </li> 
                    </ul>
                </div>
                <div class="overview">
                    <div class="page-header">
                        <h1 class="page-title">Visão geral da conta</h1>
                    </div>
                    <div class="seccao-header">
                        <h3 class="seccao-titulo">Perfil</h3>
                    </div>
                    <table class="seccao-profile">
                         
                        <tbody>
                            {{#each usuario}}
                            <tr class="nome-usuario">
                                <td class="label">
                                    <label>Nome do usuário</label>
                                </td>
                                <td class="edit">
                                   <p>{{usuario}}</p>
                                </td>
                            </tr>
                            {{/each}}
                            {{#each email}}
                            <tr class="nome-usuario">
                                <td class="label">
                                    <label>E-mail</label>
                                </td>
                                <td class="edit">
                                    <p>{{email}}</p>
                                </td>
                            </tr>
                            {{/each}}
                            {{#each datanasc}}
                            <tr class="nome-usuario">
                                <td class="label">
                                    <label>Data de nascimento</label>
                                </td>
                                <td class="edit">
                                    <p>{{datanasc}}</p>
                                </td>
                            </tr>
                            {{/each}}
                            {{#each pais}}
                            <tr class="nome-usuario">
                                <td class="label">
                                    <label>País</label>
                                </td>
                                <td class="edit">
                                    <p>{{pais}}</p>
                                </td>
                            </tr>
                            {{/each}}
                        </tbody>
                        
                    </table>
                    <div class="botao-editar">
                        <a href="index.html">Editar perfil</a>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>