<!DOCTYPE html>
<html>
    <head>       
        <style type="text/css">
            
            .principal{
                padding-top: 40px;      
                padding-left: 80px;          
                color: white;
            }

            .a:visited, a:link, a:active{
                color: #FFF;
                fill:#FFF;
                text-decoration: none;
            }

            .item-img{
                height: auto;
                max-width: 27%;
                vertical-align: middle;
                bottom: 0;
            }

        </style>

        <link rel="stylesheet" type="text/css" href="spotify.css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    </head>   
    <body>
        <header>         

            <div class="container">
                <div class="logo">                    
                    <img src="logo.png" alt="Spotify">
                </div>
                <ul class="navbar">
                    <li class="navitem item1"><a>Premium</a></li>
                    <li class="navitem item2"><a>Ajuda</a></li>
                    <li class="navitem item3"><a>Baixar</a></li>
                    <li class="navitem item4"><a  href="cadastro">Cadastrar</a></li>
                </ul>
                <button class="navbar-toggle" type="button" data-toggle="sidepanel">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="nav">
                        <li class="dropdown">
                            <a>
                                <img class="perfil-img" src="perfil.jpg">
                            </a>
                        </li>
                    </div>                                 
            </div>
        </header>
        <div class="background">
            <div class="banner">
                <div class="conteudo">
                    <div class="row">
                            <div class="texto">
                                <h2 class="titulo">Olá!</h2>
                                <p>                            
                                    Quer editar seu perfil? Encontrar uma playlist antiga? 
                                    Descansar um pouco do trabalho? Você pode fazer tudo isso aqui.                    
                                </p>
                            </div>
            
                            <div class="imagem">
                                <img src="iphone.png" alt="Iphone">
                            </div>                            
                    </div>
                </div>

                
            </div>

            <div class="principal">
                <div class="login">
                <h1>Login</h1><br>
                    <form action="/login" method="post">                    
                        <label for="login"> Email: </label>
                        <input type="text" class="caixa-texto" id="login "name="login" maxlength="30" value=""></input> <br><br>
                        <label for="senha"> Senha: </label>
                        <input type="password" class="caixa-texto" id="senha" name="senha" maxlength="8" value=""></input><br><br>
                        <input type="submit" class="button" value="Entrar"><br><br>
                        <ul>
                            {{#each mensagem as |erro|}}
                            <li>{{erro}}</li>
                            {{/each}}
                        </ul>
                    </form>
                </div>
                <div class="publica">
                    <!-- <form method="POST" action="/publica"> -->
                        <h1>Postagem</h1><br>
						<input type="text" class="caixa-texto" name="titulo_publica" id="titulo_publica" value=""/><br><br>
						<input type="submit" class="button" id="publica" value="Postar" />
					<!-- </form> -->
                 </div>   
                    
                    <!-- <form action="/pesquisa" method="POST"> -->
                        <h1>Pesquisa</h1><br>
						<div class = "searchButton">
							<!-- <input type="image" src="./imgs/ic_search_white_36dp.png" id="image_search" /> -->
							<!-- <img src="./imgs/ic_search_white_36dp.png" alt="Lupa de pesquisa"></img> -->
						</div>
						<div class = "searchBar">
							<input type="text" class="caixa-texto" name="search" id="search" value="">
						</div>
					<!-- </form> -->
                    <br><br>
               
                <div id="musicas">
                {{#each musicas as |item|}}
                    <div class="post"> 
                        <h2>{{item.texto}}</h2>
                        <h3>Autor: {{item.author}}</h3><br> 
                        <img class="item-img" src={{item.imagem}}>
                    </div> <br><br>        
                {{/each}}
                </div>                    
              
            </div>
        </div>   


       <script type="text/javascript" charset="utf-8">

                var titulo_publica = document.querySelector("#titulo_publica");
			    var publica = document.querySelector("#publica");
			    var musicas = document.querySelector("#musicas");
			    var search = document.querySelector("#search");

			    var carregando = '<center><img src="/loading.svg" /></center>';

			    function JSONtoHTML_musicas(json_musicas)
			    {
				    var html_musicas = "";
				    for (var i in json_musicas) {
				    html_musicas += '<div class="post"> \
                                    <h2>' + json_musicas[i].texto + '</h2> \
                                    <h3>Autor:' + json_musicas[i].author + '</h3><br> \
                                    <img class="item-img" src=".' + json_musicas[i].imagem + '">\
                                </div><br><br>';
				    }
				    return html_musicas;
			    }

			    publica.addEventListener("click", function(){
				    musicas.innerHTML = carregando;
				    var xmlhttp = new XMLHttpRequest();
				    xmlhttp.open("POST", "publica", true);
				    xmlhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
				    xmlhttp.onreadystatechange = function() {
					    if (xmlhttp.readyState === 4 && xmlhttp.status === 200)
					    {	
						    musicas.innerHTML = JSONtoHTML_musicas(JSON.parse(xmlhttp.responseText));
						    search.value = "";
					    }
				    };                 

				    xmlhttp.send("titulo_publica=" + titulo_publica.value);

                    titulo_publica.value= '';
			    });
			
			    setInterval(function(){
				    if (search.value == "")
				    {
					    musicas.innerHTML = carregando;
					    var xmlhttp = new XMLHttpRequest();
					    xmlhttp.open("GET", "musicas", true);
					    xmlhttp.onreadystatechange = function() {
						    if (xmlhttp.readyState === 4 && xmlhttp.status === 200)
						    {	
							    musicas.innerHTML = JSONtoHTML_musicas(JSON.parse(xmlhttp.responseText));
						    }
					    };
					xmlhttp.send();
				    }   
			    }, 10000);

			    search.addEventListener("keyup", function live_search() {
				    musicas.innerHTML = carregando;
				    var xmlhttp = new XMLHttpRequest();
				    xmlhttp.open("POST", "pesquisa", true);
				    xmlhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
				    xmlhttp.onreadystatechange = function() {
					    if (xmlhttp.readyState === 4 && xmlhttp.status === 200)
					    {	
						    musicas.innerHTML = JSONtoHTML_musicas(JSON.parse(xmlhttp.responseText));
					    }
				    };
				    xmlhttp.send("search=" + search.value);
			    });
              </script>

    </body>
</html>