<!DOCTYPE html>
<html>
    <head>       
        <style type="text/css">
            
            .principal{
                padding-top: 40px;      
                padding-left: 80px;          
                color: white;
                height: auto;
            }

            .item-img{
                height: auto;
                max-width: 27%;
                vertical-align: middle;
                bottom: 0;
            }

            .conteudo{
                 height: auto;
            }

        </style>

        <link rel="stylesheet" type="text/css" href="spotify.css" />
    </head>   
    <body>
        <div class="loading">
            <img src="/loading.svg" alt="">
        </div>
        <header>         

            <div class="container">
                <div class="logo">                    
                    <img src="logo.png" alt="Spotify">
                </div>
                <ul class="navbar">
                    <li class="navitem item1"><a>Premium</a></li>
                    <li class="navitem item2"><a>Ajuda</a></li>
                    <li class="navitem item3"><a>Baixar</a></li>
                    <li class="navitem item4"><a href="sair">Sair</a></li>
                </ul>
                <button class="navbar-toggle" type="button" data-toggle="sidepanel">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="nav">
                        <li class="dropdown">
                            <a>
                                <img class="perfil-img" src="perfil.jpg">
                            </a>
                        </li>
                    </div>                                 
            </div>
        </header>
        <div class="background">
            <div class="banner">
                <div class="conteudo">
                    <div class="row">
                            <div class="texto">
                                <h2 class="titulo">Olá!</h2>
                                <p>                            
                                    Quer editar seu perfil? Encontrar uma playlist antiga? 
                                    Descansar um pouco do trabalho? Você pode fazer tudo isso aqui.                    
                                </p>
                            </div>
            
                            <div class="imagem">
                                <img src="iphone.png" alt="Iphone">
                            </div>                            
                    </div>
                </div>

                
            </div>

            <div class="principal">
                <h1>Pesquisa - Músicas</h1><br>
                <!-- <form action="/pesquisa" method="POST"> -->
						<div class = "searchButton">
							<!-- <input type="image" src="./imgs/ic_search_white_36dp.png" id="image_search" /> -->
							<!-- <img src="./imgs/ic_search_white_36dp.png" alt="Lupa de pesquisa"></img> -->
						</div>
						<div class = "searchBar">
							<input type="text" name="search" id="search" value="">
						</div>
					<!-- </form> --><br><br>              

            </div>
        </div>       
       
    </body>
</html>